*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*common*/

header{

    background-color: orange;
    padding: 10px 0;

}

/*layout*/

.container{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    

}

.col-33{
    width: 33%;
  
}

.content-header{
    background-color: red;
    height: 75px;
    border: 1px solid black;
}

.justify-content-center{
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justifice-content-between{
    justify-content: space-between;
}